@page "/todos"
@inject HttpClient Http

<PageTitle>Todos</PageTitle>

<h1>Todos</h1>

@if (todos is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Is Complete</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todo in todos)
            {
                <tr>
                    <td>@todo.Id.ToString()</td>
                    <td>@todo.Title</td>
                    <td>@todo.IsComplete.ToString()</td>
                    <td><button class="btn btn-danger" @onclick=@(async () => await DeleteTodo(todo))>Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" @onclick=@(async () => await AddNewTodo())>Add New</button>
    </div>
}
